.favcart{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
.product{
    position: relative;
}

.removecart{
    position: absolute;
    top: 92px;
    width: 20px;
    
    background-color:rgb(247, 245, 245) ;
    border: none;
    color: red;
}