.modal_add{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal__content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
 
  
  .modal-buttons button {
    margin: 15px;
    padding: 10px;
  }