.product{
  font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(247, 245, 245);
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

.product__image{
    
    max-width: 100%;
    height: 200px;
   
}
.buttons{
  display: flex;
  justify-content: center;
  
}
.buttons>button{
  
    margin-left:10px ;
    background-color:  rgb(248, 244, 244);
    border: 1px solid ;
    width: 90px;
    
    padding:  7px ;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.buttons>button:hover{
    background-color:  rgb(240, 230, 230);
    border: none;
}

.product .buttons button {
    margin-right: 5px;
  }
  
  .product .buttons button[disabled] {
    background-color: grey;
    cursor: not-allowed;
  }
  
  .product .buttons button:focus {
    outline: none;
  }
  
  .product .buttons .favorite-button {
    color: #141212;
    border: none;
  }
  

  
