.product-list {
  padding: 20px;
  display:  flex;
  flex-wrap: wrap;
  gap: 20px;
}

.view-toggle {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.view-toggle button {
  padding: 10px 20px;
  background-color: rgb(248, 244, 244);
  color: black;
  border: none;
  font-size: 14px;
  cursor: pointer;
}
.view-toggle > button:hover{
  background-color: rgb(240, 230, 230);
}



