/* UsersInfo.css */

.user-form-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: aliceblue;
    
  }
  
  .user-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 10px;
  }

  .error {
    color: red;
    font-size: 17px;
  }
  
  .checkout {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
 
  .checkout:hover {
    background-color: #0056b3;
  }
  .info__btn {
    padding:  5px 15px;
    background-color:aliceblue;
    border: none;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 16px;
  }
  
  .warning__text {
    color: rgb(187, 7, 7);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
  }