.header{
    background-color:rgba(33, 33, 33, 0.75);
   font-family:Georgia, 'Times New Roman', Times, serif;
   font-size: 18px;
    padding:  10px 40px  ;
    
    
  }
 
 .ul{
   display: flex;
    align-items: center;
    justify-content: space-between;
    
 }
.items{
   list-style-type:none ;
}

.items a{
   color: rgb(220, 220, 233);
   text-decoration: none;
}


 
